version: "3.9"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:25.0.2
    container_name: yp-keycloak
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME: localhost
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak/realm-demo.json:/opt/keycloak/data/import/realm-demo.json:ro
      - keycloak-data:/opt/keycloak/data

volumes:
  keycloak-data:
