# ===============================
# Gradle
# ===============================
.gradle/
**/build/

# ===============================
# Gradle Wrapper (commit!)
# ===============================
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# ===============================
# IntelliJ IDEA
# ===============================
idea/
.idea
.idea/
*.iml
*.ipr
*.iws
out/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Docker
# ===============================
**/.docker/
**/*.pid
.env
.env.*

# ===============================
# Testcontainers
# ===============================
**/.testcontainers/

# ===============================
# Generated sources
# ===============================
**/build/generated/
**/generated/
ngrok
/ngrok 
