version: '3.8'

services:
  kc-postgres:
    image: postgres:18.1
    container_name: kc-postgres
    env_file:
      - keycloak.env
    environment:
      POSTGRES_DB: keycloak_db
      POSTGRES_USER: keycloak_user
      POSTGRES_PASSWORD: keycloakpassword
    volumes:
      - kc_postgres_data:/var/lib/postgresql/18/docker

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: keycloak
    command: start-dev --import-realm
    env_file:
      - keycloak.env
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://kc-postgres:5432/keycloak_db
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: keycloakpassword
      KC_HOSTNAME: localhost
    volumes:
      - ./keycloak/realm:/opt/keycloak/data/import
    ports:
      - "8080:8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health/ready" ]
      interval: 10s
      timeout: 5s
      retries: 5 
    depends_on:
      - kc-postgres

volumes:
  kc_postgres_data: